@import "shared/styles/mixins.scss";

.extPreview {
    height: 120px;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
    font-size: 10px;
    background: var(--color-accent);

    // @include box-shadow-bottom-inset(4px);
}
