pre {
    margin: 0 !important;
    border-radius: 0 !important;
}

.root {
    overflow: hidden;
    border-radius: 10px;

    &Pathname {
        border-bottom: 1px solid var(--color-accent);
    }
}
