.root {
    display: flex;
    flex-direction: column;
    height: 100%;

    &Content {
        flex-grow: 1;
        height: 100%;
    }
}

.main {
    // FIXME: @hardcoded
    height: calc(100vh - 64px);
    padding: 40px;
    overflow: overlay;
}

.sider {
    // FIXME: @hardcoded
    height: calc(100vh - 64px);
    padding: 40px;
    overflow: overlay;
    background-color: var(--color-accent);
}
