.mt-40 {
    margin-top: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.h100 {
    height: 100%;
}

.border {
    border-style: solid;
    border-width: 1px;
}

.border--accent {
    border-color: var(--color-accent);
}

.blur {
    filter: blur(0.25rem);
}
