.icon {
    padding: 20px;
    font-size: 60px;
    // color: orange;
    color: lightslategrey;
}

.row {
    box-sizing: border-box;
    cursor: default;

    &Active {
        border-color: var(--color-primary);
    }
}
